<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a href="#" class="navbar-brand"><img src="<%= asset_path('logoi.png') %>"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/the-children">Meet the Children</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sponsorship">Sponsor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>

	</div>
</nav>

<div class="meet">
	<h1>MEET THE CHILDREN</h1>
	
</div>

<!---First 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('daniel.jpg') %>">
            <div class="overlay">
                <h2>Daniel</h2>
				<p>
					Little Daniel is a ball of fire! Recently added to IChooseYou, he is in P3 class at Covenant Primary School and he is 9 years old. He loves going to school, loves learning, and is one of kids that does his homework as soon as he gets home. That’s dedication right there! Daniel makes you laugh. He dances on command, is always ready to pose for a photo, and is not ashamed to give hugs. It is easy to see that Daniel will be a leader and that makes us excited. If you watch him at school, he takes a stand for the least of these and he is a friend to all. He also has no fear… he’s the first to run out in the rain to jump in mud puddles! We love our little Dan!
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('sharon.jpg') %>">
            <div class="overlay">
                <h2>Sharon</h2>
				<p>Sweet Sharon is now in Secondary 3 class at Mbale Secondary School and loving it! She now lives at Mama Aidah’s and because of that we get to know her so much better! She tends to be more quiet but is always watching. She has the most gentle voice and loves to snuggle up to you when sitting on a bench, chair, or couch! Her laugh is the sweetest and she has such a servant’s heart. Although she is little, she has a spirit that is strong and we adore her!
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
						    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('ambrose.jpg') %>">
            <div class="overlay">
                <h2>Ambrose</h2>
				<p>Ambrose is new to the IChooseYou family! He moved from Lira back in February and was quickly embraced by our children! He is 19 years old and brilliant! He is is Secondary 3 class at Mbale Secondary School and loves it! He has a mind that understands math and science and is constantly working problems out in his head. Although he is new to IChooseYou, it feels as if he has always been apart of it. He is easy to get to know and loves sharing his story with you. He is in no way shy and never meets a stranger. Ambrose fits right in with our older boys and they love playing soccer together. This one is full of hope and is always choosing joy. We love him so much and are so thankful that he is apart of our family now!
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>

	<!---Second 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('cecilia.jpg') %>">
            <div class="overlay">
                <h2>Cecilia</h2>
				<p>
					Cecilia is our beautiful 15 year old who is in Sr. 1 now! She lives with her mother and 5 younger siblings in Namatala. She loves going to school and is a writer. Her creativity allows her to excel in class and she is so thankful that she has a safe place to learn.

					This one is a dreamer in every sense of the word. If you watch her, she is always in her own world. When you ask what she is thinking about, she just flashes her stunning smile and looks upward. Cecilia also has very vivid dreams at night and it is a gift when she tells you about one. This girl also has big dreams for her future. She is determined to take what has been given to her and not waste a single bit of any of it. Cecilia is insightful and has such trust in Jesus. She is sure of His love and she is always willing to share it with her family and friends.
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('paul.jpg') %>">
            <div class="overlay">
                <h2>Paul Arthur</h2>
				<p>
					Paul is the oldest and fearless leader of four children. He belongs to a loving mama, Margaret, and he gracefully & humbly leads his family.  He is soon to be 25 and his birthday is February 2, 1992. Although originally from Namatala, Paul now lives in Kampala where he is attending University and studying Law. He has joined a church there where he helps lead worship and has become a big leader in outreach. When home for holidays, he also is a big part of Mbale Presbyterian (his home church). Here, he helps with worship, bible studies, and teaching the youth choir new music. Paul is a lively young man. He is friends with all, cares for those around him, and loves to laugh.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('loru.jpg') %>">
            <div class="overlay">
                <h2>Loru David</h2>
				<p>
					Baby Loru is our miracle baby. When we found him with his mother in Namatala he was almost a year. We learned very quickly that he had been born with a severe medical condition and needed medical help with no time to waste.  Through lots of prayer, long waits, lots of prayer, and going to the hospital for two major surgeries, lots of prayer and many weeks in the hospital…and did I mention lots of prayers….our little Loru came out of it all and continues to be very healthy. He turned 6 years old this past June and has the spunkiest of personalities.  He is in P2 at Covenant Primary School in Mbale, Uganda and he lives with his dad, Sali, who through all of this became a Christ follower.

					Loru has a streak of mischief in him but also knows how to charm you with his smile! When not in school, this little one refuses to wear pants and runs around Namatala with no shoes. He is no doubt a Karamajong! He loves his sweets and sometimes tries to sneak a few extra out of your bag. He is a joy and he keeps us laughing.
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>


		<!---Third 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('kizito.jpg') %>">
            <div class="overlay">
                <h2>Kizito Ibrahim</h2>
				<p>
					Kizito is soon to be 17 years old and is now in P6 class at Covenant Primary School in Mbale, Uganda.  He doesn’t know when his birthday is so IChooseYou gave him February 14, 2000 as his special day which is very fitting because he is the sweetest young guy.

					Kizito’s dad died several years ago and his mother passed away August, 2013. He now lives with Morris & Aidah in Half London and has become one of their own. He has many friends in Namatala and loves to be out and about with them all.

					Kizito’s smile can melt your heart in less than a second and his gentle disposition is calming. He is a carrier of peace and is growing into an exceptional young man!
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('maberi.jpg') %>">
            <div class="overlay">
                <h2>Maberi Jonah</h2>
				<p>
					Jonah is 16 years old.  His birthday is August 10, 2001.  Jonah is in the Sr. 1 class at Mbale Secondary School in Mbale, Uganda. His favorite subject in school is math.

					Jonah’s dad is somewhere in the village & his mother died giving birth to him. His Aunt Rebecca and her husband took him and are providing him with a stable and loving home.

					Jonah is more on the quiet side but he is very bright! His best friends are also a part of IChooseYou and they all love to play futball (soccer) together.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('mudebo.jpg') %>">
            <div class="overlay">
                <h2>Mudebo Dennis</h2>
				<p>
					Dennis is the sweetest, most gentle 17 years old.  His birthday is November 2, 2000 and he is now in the P7 class at Covenant Primary School in Mbale, Uganda.  Dennis’s father passed away four years ago and his mother now helps out on farms to make money. Although she is still healthy and capable of taking care of Dennis, he lives at the hostel during school terms because his home is too far out. Although Dennis is painfully shy, he always makes sure to come and greet you with a sweet grin and a quiet hello. He is very observant and loves to watch everything going on around him. He never causes any trouble and is growing into such a honest and humble young man. He is always on time, never misses school or church, and helps out in anyway possible.
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page2">2</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page3">3</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page4">4</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page5">5</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page6">6</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page7">7</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page2">Next</a></li>
  </ul>
</nav>



</div>
	<hr class="my-4">
</div>

<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-12">
		<h2>CONNECT</h2>
	</div>
	<div class="col-12 social padding">
		<ul class="social-links">
            	<li><a class="facebook" href="https://www.facebook.com/IChooseYouKids/"></a></li>
				<li><a class="twitter" href="https://twitter.com/IChooseYouMinis"></a></li>
				<li><a class="instagram" href="https://www.instagram.com/ichooseyoukids/?hl=en"></a></li>
				<li><a class="mail" href="mailto:ichooseyouministries@gmail.com"></a></li>
		</ul>
	</div>
</div>	
</div>






<!----Footer-->

<footer>
	<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5><i class="far fa-copyright"></i> ICHOOSEYOU MINISTRIES ALL RIGHTS RESERVED.</h5>
		</div>
		<div class="col-md-4">
		</div>
		
	</div>	
	</div>
